html {
  display: flex;
  height: 100%;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0;
}

#head {
  display: flex;
}

#timeInput {
  flex: 1;
  margin: 0;
}

#body {
  display: flex;
  flex: 1;
}

#renderCanvas {
  background: black;
  width: 100%;
  height: 100%;
}
